.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  color: white;
  padding: 10px 20px;
}

.links a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.links a:hover {
  color: #38bdf8;
}

.logout-btn {
  background: #ef4444;
  color: white;

  border: none;
  padding: 10px 18px;
  border-radius: 8px;

  font-weight: bold;
  cursor: pointer;

  transition: all 0.25s ease;
}

/* Hover */
.logout-btn:hover {
  background: #dc2626;
  transform: scale(1.05);
}

/* Click */
.logout-btn:active {
  transform: scale(0.95);
}